    body{
      background-color: #fff;
    }

    .container{
      padding-right: 0%;
      padding-left: 0%;
    }
    .container-content{
      margin-top:20px;
      background-color: #fff;
    }
    .container-border{
      border-top:0px solid #27ae60;
    }

    .btn-xs{
      padding:0px 5px 0px 5px;
    }

    .top{
      background-color: red;
      display:block;
    }

    .waktu{
      padding:5px;
      font-weight: bold;
      color:#27ae60;
    }

    .navbar{
      margin-bottom:0px !important;
    }

    .navbar-default{
      background-color: #27ae60 !important;
      border-radius:0px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a{
      color:#27ae60;
    }

    .navbar-default .navbar-nav>li>a {
      color:#fff !important;
    }

    nav>.nav>li>a {
      color: #555;
      background-color: #e7e7e7 !important;
    }
    
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        color: #555 !important;
        background-color: #e7e7e7;

    }

    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        color: #555 !important;
    }

    .navbar-toggle{
        background-color: #e3e3e3;
    }
    .head{
      background-color:#fff; color:#8a8a8a; width:100%
    }
    .head small{
      text-transform: capitalize;
      font-size:10px;
    }

    .title-head{
      padding:6px;
      padding-right: 7.5%;
      padding-left: 7.5%;
    }
    .subtitle{
      font-weight:bold;
    }

    .sidebar-title{
      font-weight:bold;
      margin-top:0px;
      padding:8px;
      text-transform: uppercase;
      color:#000;
      background-color: #cecece;
      border-left:5px solid #27ae60;
    }
    .sidebar-title.top{
      border-bottom:1px solid #27ae60;
      font-weight:bold;
      margin-top:-10px;
    }
    .jumbotron {
      padding: 0px;
      margin-bottom: 30px;
      color: inherit;
      background-color: #eee;
    }
    .jumbotron p {
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: 200;
    }
    .container .jumbotron, .container-fluid .jumbotron {
        padding-right: 0px;
        padding-left: 0px;
    }

    #myTabs li{
      width:33%;
    }
    #myTabs li a{
      text-align: center;
      font-weight: bold;
    }
    hr{
      padding:0px;
      margin:5px 0px 8px 0px;
    }
    .date{
      display:block;
      font-size:11px;
    }

    footer{
      background:#cecece; 
      border-top:2px solid #373c43; 
      color:#000
    }

    .text-footer{
      display:block;
      font-size:11px;
      padding:10px;
    }

    label.error {
      color: red; 
      padding-left: .5em;
      font-style:italic;
      font-size:12px;
      background-color: #eee;
      display:block;
      padding: 5px;
      font-weight: none;
      border-bottom:1px solid #ccc;
    }

    .overflow{
      overflow:hidden; height:110px; width:100%; background:#cecece;
    }

    #custom_carousel{
        margin-bottom:20px;
    }

    #custom_carousel .item {
        color:#000;
        background-color:#eee;
        padding:20px 0;
    }
    #custom_carousel .controls{
        overflow-x: auto;
        overflow-y: hidden;
        padding:0;
        margin:0;
        white-space: nowrap;
        text-align: center;
        position: relative;
        background:#ddd
    }
    #custom_carousel .controls li {
        display: table-cell;
        width: 1%;
        max-width:90px
    }
    #custom_carousel .controls li.active {
        background-color:#eee;
        border-top:3px solid orange;
    }
    #custom_carousel .controls a small {
        overflow:hidden;
        display:block;
        font-size:10px;
        margin-top:5px;
        font-weight:bold
    }

    .media{
      border-bottom:1px dotted #cccccc;
    }

    .dropdown-submenu {
        position: relative;
      }

      .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
      }

      .dropdown-submenu:hover>.dropdown-menu {
        display: block;
      }

      .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
      }

      .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
      }

      .dropdown-submenu.pull-left {
        float: none;
      }

      .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
      }

      .box {
    display: inline-block;
    text-align: center;   
}

.close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: #000 !important;
    padding: 5px 8px !important;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255) !important;
    position: absolute;
    top: -15px;
    right: -18px;
    z-index:1032;
}

.navbar-nav {
    margin: 0px !important;
}


/*footer*/

.index-social{
    background-color:#2c2c2c;
    color:#fff;
}
.link-area .fa-li{
    width:40px;
    height:40px;
    border-radius:50%;
    border:solid 1px #fff;
    list-style-type:none;
    margin:5px;
    display:inline-block;
    padding: 10px;
}
.index-social a{
     padding-top:13px;
    font-size: 12px;
    color: #fff;
}



.index-link h3{
    text-align:center;
   color:#f1f1f1;
   text-align:left;
   font-size: 15px;
   
}
.index-link{
    background-color:#263238;
}
.index-link ul{
    padding:0px;
}
.index-link ul li{
    list-style-type:none;
}
.index-link ul li a{
  text-decoration:none;
  font-size:12px;
  color:#fff;
  display:block;
  padding:5px 0;
  text-align:left;
}
.index-link ul li a:hover{
     text-decoration:underline;
}
.copy-c{
    padding-top:13px;
    font-size: 12px;
    color: #fff;
}



.link-area{

 padding-left: 20%;

}
